<a href="https://colab.research.google.com/github/WhyseRabbit/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference) (check)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [1]:
import pandas as pd
votes_columns=['class_name','handi_infant','water_cost_sharing','budget_reso','phys_fee_freeze','el_salva_aid',
              'religion_school','sat_test_ban','contras_aid','mx_missile','immigration','synfuels_cutback',
              'education_spending','right_to_sue','crime','duty_free_exports','south_africa']
votes=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data',names=votes_columns)
print(votes.shape)
votes.head()

(435, 17)

   class_name handi_infant  ... duty_free_exports south_africa
0  republican            n  ...                 n            y
1  republican            n  ...                 n            ?
2    democrat            ?  ...                 n            n
3    democrat            n  ...                 n            y
4    democrat            y  ...                 y            y

[5 rows x 17 columns]

In [2]:
votes.isnull().sum()

class_name            0
handi_infant          0
water_cost_sharing    0
budget_reso           0
phys_fee_freeze       0
el_salva_aid          0
religion_school       0
sat_test_ban          0
contras_aid           0
mx_missile            0
immigration           0
synfuels_cutback      0
education_spending    0
right_to_sue          0
crime                 0
duty_free_exports     0
south_africa          0
dtype: int64

In [10]:
import numpy as np
votes.replace('?',np.nan,inplace=True)
votes.replace('y',1,inplace=True)
votes.replace('n',0,inplace=True)
votes.head(10)

   class_name  handi_infant  ...  duty_free_exports  south_africa
0  republican           0.0  ...                0.0           1.0
1  republican           0.0  ...                0.0           NaN
2    democrat           NaN  ...                0.0           0.0
3    democrat           0.0  ...                0.0           1.0
4    democrat           1.0  ...                1.0           1.0
5    democrat           0.0  ...                1.0           1.0
6    democrat           0.0  ...                1.0           1.0
7  republican           0.0  ...                NaN           1.0
8  republican           0.0  ...                0.0           1.0
9    democrat           1.0  ...                NaN           NaN

[10 rows x 17 columns]

In [11]:
votes.isnull().sum()

class_name              0
handi_infant           12
water_cost_sharing     48
budget_reso            11
phys_fee_freeze        11
el_salva_aid           15
religion_school        11
sat_test_ban           14
contras_aid            15
mx_missile             22
immigration             7
synfuels_cutback       21
education_spending     31
right_to_sue           25
crime                  17
duty_free_exports      28
south_africa          104
dtype: int64

In [12]:
votes.describe(include='all')

       class_name  handi_infant  ...  duty_free_exports  south_africa
count         435    423.000000  ...         407.000000    331.000000
unique          2           NaN  ...                NaN           NaN
top      democrat           NaN  ...                NaN           NaN
freq          267           NaN  ...                NaN           NaN
mean          NaN      0.442080  ...           0.427518      0.812689
std           NaN      0.497222  ...           0.495327      0.390752
min           NaN      0.000000  ...           0.000000      0.000000
25%           NaN      0.000000  ...           0.000000      1.000000
50%           NaN      0.000000  ...           0.000000      1.000000
75%           NaN      1.000000  ...           1.000000      1.000000
max           NaN      1.000000  ...           1.000000      1.000000

[11 rows x 17 columns]

In [0]:
from scipy import stats

In [14]:
dem=votes[votes['class_name']=='democrat']
dem.head()

  class_name  handi_infant  ...  duty_free_exports  south_africa
2   democrat           NaN  ...                0.0           0.0
3   democrat           0.0  ...                0.0           1.0
4   democrat           1.0  ...                1.0           1.0
5   democrat           0.0  ...                1.0           1.0
6   democrat           0.0  ...                1.0           1.0

[5 rows x 17 columns]

In [18]:
dem_water_share=dem['water_cost_sharing'].dropna()
dem_water_share.isnull().sum()

0

In [20]:
len(dem_water_share)

239

**Null Hypothesis:** At least 70% of Democrats supported "Water_cost_sharing."

Alternative Hypothesis: Something other than 70% of Democrats supported this bill.

In [19]:
stats.ttest_1samp(dem_water_share,.7)

Ttest_1sampResult(statistic=-6.106403742520361, pvalue=4.115011649082016e-09)

The Null Hypothesis has been rejected.

In [21]:
dem_water_share.mean()

0.502092050209205

In [16]:
rep=votes[votes['class_name']=='republican']
rep.head()

    class_name  handi_infant  ...  duty_free_exports  south_africa
0   republican           0.0  ...                0.0           1.0
1   republican           0.0  ...                0.0           NaN
7   republican           0.0  ...                NaN           1.0
8   republican           0.0  ...                0.0           1.0
10  republican           0.0  ...                0.0           0.0

[5 rows x 17 columns]

In [22]:
rep_water_share=rep['water_cost_sharing'].dropna()
rep_water_share.isnull().sum()

0

In [23]:
len(rep_water_share)

148

**Null Hypothesis:**The republicans support the water share bill by 50%.

Alternative Hypothesis: The support for this bill is something other than 50%

In [24]:
stats.ttest_1samp(rep_water_share,.5)

Ttest_1sampResult(statistic=0.16385760607458383, pvalue=0.8700683158521967)

With the data above, I ***fail to reject*** the Null Hypothesis.

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!